
server:
  port: 8082
spring:
  application:
    name: consumer

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/


management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      probes:
        enabled: true