server:
  port: 8082
spring:
  application:
    name: consumer




management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      probes:
        enabled: true