
server:
  port: 8081
spring:
  application:
    name: producer
  kafka:
    producer:
      retries: 3
      acks: all

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      probes:
        enabled: true